extends ../layout

block content
  .container
    h2.has-text-weight-bold.is-capitalized.has-text-centered.is-size-3= heading
    .field
      .control
        label.label username
      .control
        input.input(type="text")
    .field
      .control
        label.label email
      .control
        input.input(type="email")
    .field
      .control
        label.label password
      .control
        input.input(type="password")
    .field
      .control
        label.label confirm password
      .control
        input.input(type="password")
