nav.navbar.p-2.is-flex.is-align-items-center.is-justify-content-center.is-flex-wrap-wrap
  header.navbar-start.is-uppercase.has-text-weight-extrabold.is-size-2.has-text-primary eu-notes
  a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")
  .navbar-menu.navbar-end
    a.navbar-item.has-text-info.is-size-5(href="/auth/signup") signup
    a.navbar-item.has-text-info.is-size-5(href="/notes") my-notes
