nav.navbar.p-2.is-flex.is-align-items-center.is-justify-content-center
  header.navbar-start.is-uppercase.has-text-weight-extrabold.is-size-2.has-text-primary eu-notes
  p.navbar-burger o
  ul.navbar-menu.navbar-end
    li
      a.navbar-item.has-text-info.is-size-5 signup
    li
      a.navbar-item.has-text-info.is-size-5 my-notes
